.card-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #7A67EE;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 14px;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    height: 80px;
    box-shadow: 0 2px 4px rgb(136, 0, 145);
}

.card h2{
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
}

.card p {
    font-size: 16px;
    color: #fff;
    padding-bottom: 10px;
}